@import '../../../styles.scss';

.login-page{
  background: $content-bg-color;
  width: 100%;
  height: 100%;
  .login-container{
    // background:linear-gradient(45deg,#005581, #0171ab);
    // background: linear-gradient(-45deg, #006ea7, #00324c);
    background: linear-gradient(-45deg, #253746, #01807e);
    // background-size: 400% 400%;
    // animation: gradient 15s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    img{
      position: absolute;
      left: 10px;
      top: 10px;
      opacity: .5;
    }

    .login-content-outer{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      background: transparent;
      .headShake{
        // -webkit-animation-name: headShake !important;
        animation: .8s headShake !important;
      }
      .animation-container{
        width: auto;
        height: auto;
        z-index: 99;
        // animation: .8s headShake !important;
        .login-content-inner{
          display: block;
          background: $content-bg-color;
          height: 400px;
          border-radius: 20px;
          width: 385px;
          text-align: center;
          padding: 50px 50px;
          box-shadow: 0px 3px 32px 15px #3c3c3c73;
          .login-header{
            color: $primary-color;
            font-size: 2.3rem;
            border-bottom: none;
            i{
              font-size: 2rem;
            }
          }
          input{
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            margin: 10px;
            width: 85%;
            border-radius: 5px;
            border: none;
            height: 30px;
            opacity: 1;
            border: 1px solid $border-color;
            transition: .2s ease-in-out;
            padding: 0px 10px;
            // &:focus {
            //   opacity: 1;
            //   width: 75%;
            // }
          }
          .login-button{
            width: 150px;
            color: white;
            background: $primary-color;
            height: 35px;
            border-radius: 6px;
            margin: 30px 0px;
            font-weight: bold;
            opacity: 1;
            line-height: initial;
            transition: 0.2s ease-in-out;

            &:hover{
              background: darken($primary-color, 5%);
            }
          }
          .googleBtn{
            -webkit-user-select: none;
            border: 0;
            border-radius: 2px;
            box-sizing: border-box;
            color: white;
            background: #dc3545;
            // border: 1px solid #bfbfbf;
            cursor: pointer;
            border-radius: 6px;
            font-weight: bold;
            font-size: 0.875em;
            margin: 0;
            /* padding: 10px 24px; */
            transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          animation: 1s login-reveal;
          @keyframes login-reveal{
            0%{
              opacity: 0;
              transform: translateY(10px);
            }
            25%{
              opacity: 0;
              transform: translateY(10px);
            }
            100%{
              opactiy: 1;
              transform: translateY(0px);
            }
          }
        }
      }
    }
  }
}
.angular-image{
  position: absolute;
  bottom: 11px;
  right: 35px;
  opacity: 1;
  height: 60px;
}
