<!-- <div class='login-page' [@moveIn]> -->
    <div class='login-page'  [@simpleFadeAnimation]="'in'">
        <div class="login-container">
          <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/EPAS+Logo+Acronym+Only+White.png" width="auto" height="50" class="d-inline-block align-top" alt="">
          <div class="login-content-outer">
            <span class="animation-container" [ngClass]="{'headShake': loginStatusState === false}">
              <div class="login-content-inner" (keyup.enter)="authService.SignIn(userName.value, userPassword.value)">
                <h3 class='login-header'>Sign in <i class="fas fa-sign-in-alt"></i></h3>
                <p>Enter your credentials to log in.</p>
                <div class="formGroup">
                  <i class="far fa-envelope"></i>
                  <input
                    type="text"
                    class="formControl"
                    placeholder="Email"
                    #userName
                    required
                  />
                </div>

                <div class="formGroup">
                  <i class="fas fa-key"></i>
                  <input
                    type="password"
                    class="formControl"
                    placeholder="Password"
                    #userPassword
                    required
                  />
                </div>

                <!-- Calling SignIn Api from AuthService -->
                <div class="formGroup">
                  <input
                    type="button"
                    class="btn btnPrimary login-button"
                    value="Sign in"
                    (click)="authService.SignIn(userName.value, userPassword.value)"/>
                    <!-- <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                      <i class="fab fa-google-plus-g"></i>
                      Sign In with Google
                    </button> -->
                </div>

                <!-- <div class="formGroup">
                  <span class="or"><span class="orInner">Or</span></span>
                </div> -->

                <!-- Calling GoogleAuth Api from AuthService -->
                <!-- <div class="formGroup">
                  <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                    <i class="fab fa-google-plus-g"></i>
                    Sign In with Google
                  </button>
                </div> -->

                <!-- <div class="forgotPassword">
                  <span routerLink="/forgot-password">Forgot Password?</span>
                </div>
              </div>

              <div class="redirectToLogin">
                <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
              </div> -->
              </div>
            </span>
            <ul class="bg-bubbles">
              <!-- <li><i class="fas fa-key"></i></li>
              <li><i class="fas fa-fingerprint"></i></li>
              <li><i class="fas fa-users"></i></li> -->
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>
        <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/500.png" width="auto" height="30" class="angular-image" alt="">
      </div>
