<section class="section-components" id={{id}} >
  <div class="section-header-container">
    <h3 class="p-0 m-0">Checkbox</h3>
  </div>
  <div class="type-container">
    <h3 class="mb-0 d-flex align-items-center justify-content-start"><i class="fas fa-pencil-ruler icon-header"></i> Interactive Demo</h3>
      <p class="font-weight-light">Customize the number of rows and columns. Edit field data if needed.</p>
      <!-- <input [(ngModel)]="buttonLabel" placeholder="{{buttonLabel}}" type="text"> -->
      <div class="d-flex justify-content-start align-items-end">
        HI I'M THE CHECKBOX COMPONENT
      </div>
  </div>
  <div class="mt-5 guidance-container">
    <h3 class="mb-0">Guidance and Usage</h3>
      <section class="pt-2 pb-2">
        <h5 class="font-weight-light">When to use the radio button component</h5>
        <p><b>Multi-select.</b> When a user can select any number of choices from a set list.</p>
        <p><b>Toggles.</b> When a user needs to choose “yes” or “no” on only one option (use a stand-alone checkbox). For example, to toggle a setting on or off.</p>
        <p><b>Visibility of options.</b> When users need to see all the available options at a glance.</p>

      </section>
      <section class="pt-2 pb-2">
        <h5 class="font-weight-light">When to consider something else</h5>
        <p><strong>Too many options.</strong> If there are too many options to display on a mobile screen.</p>
        <p><b>Single-select only.</b> If a user can only select one option from a list (use radio buttons instead).</p>
      </section>
      <section class="pt-2 pb-2">
        <h5 class="font-weight-light">Usability guidance</h5>
        <p><strong>Make the label selectable. </strong> Users should be able to tap on or click on either the text label or the checkbox to select or deselect an option.</p>
        <p><strong>List items vertically. </strong> Options that are listed vertically are easier to read than those that are listed horizontally. Horizontal listings can make it difficult to tell which label pertains to which radio button.</p>
        <p><strong>Use positive statements. </strong> Negative language in labels can be counterintuitive. For example, use “I want to receive a promotional email” instead of “I don’t want to receive promotional email.”</p>
      </section>
      <section class="pt-2 pb-2">
        <h5 class="font-weight-light">Accessibility</h5>
        <p><strong>Use a fieldset and legend for a checkbox group.  </strong> Surround a related set of checkboxes with a<code>&lt;fieldset&gt;</code>. The <code>&lt;legend&gt;</code> provides context for the grouping. Do not use fieldset and legend for a single check..</p>
        <p><strong>Use semantic ids. </strong> Each checkbox should have a semantic <code>&lt;id&gt;</code> attribute, and its corresponding label should have the same value in it’s <code>&lt;for&gt;</code> attribute.</p>
        <p>The <code>&lt;title&gt;</code> can replace <code>&lt;label&gt;</code>.</p>
      </section>
  </div>
</section>


