@import '../../../scss/index';

.card-container{
  background: #EEEEEE;
}

.card-min-height{
  min-height: 205px;
  max-height: 255px;
  overflow: hidden;
  overflow-y: auto;
}

.soft-border-radius{
  border-radius: 10px;
}

label{
  margin-bottom: 0px !important
}

.card{
  box-shadow: 0px 3px 6px 1px #e7e7e7;
  border: none !important;
  .card-body{
    .card-title{
      font-size: 1.2rem !important;
      font-weight: 500 !important;

    }
    .card-icon{
      font-size: .95rem;
      margin-right: 9px;
      color: $font-color !important;
    }
    i{
      color: $primary-color;
    }
    ul{

      button{
        i{
          font-size: 1.35rem;
        }
        .option-title{
          font-size: 1.1rem;
          text-align: left;
        }
        .option-subtitle{
          text-align: left;
          opacity: .7;
          font-size: .93rem;
        }
      }
    }
  }

}
