<div class="content-container scroll1">
  <div class="tab-content-outer-container">
    <div class="tab-content-inner-container">
      <div class="page-reveal-animation">
        <h1> Accordion </h1>
        <h4>An accordion is a list of headers that hide or reveal additional content when selected.</h4>
        <div class="type-container">
          <h3 class="mb-0 d-flex align-items-center justify-content-start"><i class="fas fa-pencil-ruler icon-header"></i> Interactive Demo</h3>
            <p class="font-weight-light">Customize the number of groups and the body height.</p>
            <!-- <input [(ngModel)]="buttonLabel" placeholder="{{buttonLabel}}" type="text"> -->
            <div class="d-flex justify-content-start align-items-end">
              <section class="w-100 mx-3 my-1 py-3">
                <app-accordion-default></app-accordion-default>
              </section>
            </div>
        </div>
        <div class="mt-5 guidance-container">
          <h3 class="mb-0">Guidance and Usage</h3>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">When to use an accordion</h5>
              <p><b>If users will only need a few specific pieces of content within a page.</b></p>
              <p><b>If you have only a small space to display a lot of content.</b></p>
            </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">When to consider something else</h5>
              <p><strong>If users need to see most or all of the information on a page.</strong> Use well-formatted text instead.</p>
              <p><strong>If there is not enough content to warrant condensing.</strong> Accordions increase cognitive load and interaction cost, as users have to make decisions about what headers to click on.</p>
            </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">Usability guidance</h5>
              <p><strong>Make the entire header selectable.</strong> Allow users to click anywhere in the header area to expand or collapse the content; a larger target is easier to manipulate.</p>
              <p><strong>Give interactive elements enough space. </strong> Make sure interactive elements within the collapsible region are far enough from the headers that users don’t accidentally
                trigger a collapse. (The exact distance depends on the device.)</p>
            </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">Accessibility</h5>
              <p><strong>Code header areas in the accordion as buttons. </strong>Using a <code>&lt;button&gt;</code> assures that accordions are usable with both screen readers and the keyboard. </p>
              <p><strong>Use aria-expanded on buttons to express an accordion’s default state.</strong>Buttons should state if they are expanded by default with <code>aria-expanded="true"</code>. The <code>aria-expanded="false"</code> attributes will be added to other buttons when the accordion is initialized by the JavaScript.</p>
              <p><strong>Use unique ids.</strong>Each button has a unique name <code>aria-controls="id"</code> that associates the control to the appropriate region by referencing the controlled element’s <code>id</code>.</p>


            </section>
        </div>
      </div>
    </div>
  </div>
</div>
