<div>
  <div>
    <mat-slider color='accent'
      class="example-margin"
      [disabled]="disabled"
      [invert]="invert"
      [max]="max"
      [min]="min"
      [step]="step"
      [thumbLabel]="thumbLabel"
      [tickInterval]="tickInterval"
      [(ngModel)]="value"
      [vertical]="vertical"
      (change)="onSliderChange($event)"
    >
    </mat-slider>
    <label class="column-count"> {{ value }} rows</label>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>
      <input type="text" class="header-input" value="No." />
    </th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      <input type="text" class="header-input" value="Name" />
    </th>
    <td mat-cell *matCellDef="let element">
      <input type="text" value="{{ element.name }}" />
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>
      <input type="text" class="header-input" value="Weight" />
    </th>
    <td mat-cell *matCellDef="let element">
      <input type="text" value="{{ element.weight }}" />
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>
      <input type="text" class="header-input" value="Symbol" />
    </th>
    <td mat-cell *matCellDef="let element">
      <input type="text" value="{{ element.symbol }}" />
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
