@import "../../../scss/variables";

app-table-example{
  width: 100%;
}

.mat-accent .mat-slider-track-fill {
  background-color: #007bff !important;
}

.column-count{
  font-weight: bold;
  font-size: .8rem;
  color: #545454;
  margin-left: 5px;
}
// .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
//   background-color: #007bff;
// }
table {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid $border-color-darker !important;
  input{
    overflow: visible;
    border: none;
    background: transparent;
    &:focus {
      background: transparent;
      border: transparent;
      outline: none;
      border-bottom: 2px solid #007bff;
      transition: .1s ease-in;

    }
  }
  .header-input{
    font-weight: bold;
    color: #484848;
  }
}
.mat-header-row {
  background: #f3f4f6;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 0.9rem;
  border-right: 1px solid $border-color-darker;
  padding: 0px 15px;
  height: 45px !important;
}
.mat-header-cell:nth-last-child(1) {
  border-right: none;
}

.mat-cell {
  padding: 0px 15px;
}

