@import "../../../scss/variables";

table {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid $border-color-darker !important;
}
.mat-header-row {
  background: #f3f4f6;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 0.9rem;
  border-right: 1px solid $border-color-darker;
  padding: 0px 15px;
  height: 45px !important;
}
.mat-header-cell:nth-last-child(1) {
  border-right: none;
}

.mat-cell {
  padding: 0px 15px;
}
