@import "../../../scss/variables";
@import "../../../styles.scss";

app-table-example {
  width: 100%;
}


.column-count {
  font-weight: bold;
  font-size: 0.8rem;
  color: #545454;
  margin-left: 5px;
}

.column-hint-container{
  position: relative;
  top: -15px;
  left: 8px;
  font-size: 75%;
  width: 113px;
}
// .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
//   background-color: #007bff;
// }
.settings-header {
  padding-top: 1rem !important;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}
.controls-container{
  height: 38px;
}
.icon-checkbox{
  padding-top: 10px;
}

table {
  width: 100%;
  box-shadow: none !important;
  border: 1px solid $border-color-darker !important;
  overflow: auto;
  input {
    overflow: visible;
    border: none;
    background: transparent;
    width: 85%;
    &:focus {
      background: transparent;
      border: transparent;
      outline: none;
      border-bottom: 2px solid #007bff;
      transition: 0.1s ease-in;
    }
  }
  i{
    color: #6d6d6d;
    margin-left: 5px;
    position: absolute;
    right: 15px;
    top: 17px;
  }
  .header-input {
    font-weight: bold;
    color: #484848;
  }
}

// BOOTSTRAP OVERRRIDES
.table thead th {
  width: 100vw;
  background: #f3f4f6;
  border: none;
  height: 50px;
  border-left: 1px solid gainsboro;
  position: relative;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  height: 50px;
}

::placeholder {
  color: #484848;
}

.mat-header-row {
  background: #f3f4f6;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 0.9rem;
  border-right: 1px solid $border-color-darker;
  padding: 0px 15px;
  height: 45px !important;
}
.mat-header-cell:nth-last-child(1) {
  border-right: none;
}

.mat-cell {
  padding: 0px 15px;
}
