<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div class="image-container">
      <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/EPAS+Logo+Acronym+Only+Full+Color.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </div>
    <label>Design System</label>
  </a>

  <div class="nav-routes-container">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of routerLinks"
         [routerLink]="link.href"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
         {{link.displayName}}
      </a>
    </nav>
  </div>
    <button class="btn btnPrimary" (click)="authService.SignOut()"><i class="fas fa-sign-out-alt"></i>Sign Out</button>
</nav>


