@import "../../../scss/variables";

// COLORS
$primary-color: #005581;
$border-color: #eaeaea;

.nav-item{
  display: flex;
  justify-content: center;
  align-content: center;
}

nav{
  width: 100%;
  margin-bottom: 50px;
  z-index: 9;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid $border-color;
  .nav-links-container{
    width: 30rem;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    justify-content: space-around !important;
    margin: 0px 5rem;
    li{
      a{
        color: $font-color;
      }
      &:active{
        border-bottom: 2px solid royalblue;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    .image-container{
      overflow: hidden;
      width: 158px;
      margin: 0px 10px;
      img{
        width: 163px;
        height: 45px;
      }
    }
    label {
      font-weight: 100;
      font-size: 1.95rem;
      color: #525252;
      padding: 0px 12px;
      margin: 0px;
      border-left: 1px solid $border-color;
    }
  }
}



