<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <div class="image-container">
      <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/EPAS+Logo+Acronym+Only+Full+Color.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </div>
    <label>Design System</label>
  </a>
  <ul class="nav nav-links-container">
    <li class="nav-item">
      <a class="nav-link active" href="#">Foundation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Content</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Design</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="#">Components</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Assets</a>
    </li>
  </ul>
</nav>


