@import '../variables';

// BUTTON MIXINS
@mixin primary-button(){
  // height: 30px !important;
  border-radius: 5px !important;
  border: none !important;
  font-weight: 500 !important;
  padding: 4px 15px !important;
  color: $primary-bg-color !important;
  background: $primary-color !important;
  justify-content: center !important;
  align-items: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 175px !important;
  &:hover{
    transition: .2s ease-in-out !important;
    background: lighten($primary-color, 7%) !important;
  }
}

@mixin secondary-button(){
  background: $secondary-button-bg;
  border-radius: 5px;
  border: 1px solid $secondary-button-color;
  color: $secondary-button-color;
  padding: 4px 15px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  align-items: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 175px !important;
  &:hover{
    transition: .2s ease-in-out !important;
    background: darken($secondary-button-bg, 7%) !important;
  }
}

@mixin clear-button(){
  border-radius: 0px;
  background: transparent;
  border: none;
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $font-color;
}

@mixin add-button(){
  background: white;
  border: 1px solid #00891f;
  color: #00891f;
  border-radius: 5px;
  padding: 0px 6px;
  font-weight: 500;
  font-size: .75rem;
}

@mixin reset-button(){
  background: white;
  border: none;
  color: #005581;
  border-radius: 5px;
  padding: 4px 12px;
  margin: 3px 5px;
  font-weight: 500;
}

@mixin trash-can-button(){
  background: transparent;
  color: #3a3a3a;
  font-size: 1rem;
  margin: 0px 10px;
  border: none;
  &:hover{
    transition: .2s ease-in-out;
    color: red;
  }
}
