<div class="page-reveal-animation">
  <h1> 508 Compliance Assessment </h1>
  <h4><strong>Hold your application accountable.</strong> Test your application against 508 standards regularly and receive a compliance score.
     Come back at any time to re-score your application after enhancements have been made.</h4>
     <div class="container">
       <h3>Has this application been tested using the 508 compliance tool before?</h3>
       <mat-tab-group mat-align-tabs="start">
        <mat-tab label="No, I need create application.">
          <app-new-app-assessment></app-new-app-assessment>
        </mat-tab>
        <mat-tab label="Yes, I need view my applications.">Previously Tested Application</mat-tab>
      </mat-tab-group>
     </div>
     <div class="container">
       <!-- <app-accessibility-compliance-assessment></app-accessibility-compliance-assessment> -->
     </div>
</div>
