<div class="content-container scroll1">
  <div class="tab-content-outer-container">
    <div class="tab-content-inner-container">
      <div class="page-reveal-animation">
        <h1> Card </h1>
        <h4>Cards contain content and actions about a single subject.</h4>
        <div class="type-container">
          <h3 class="mb-0 d-flex align-items-center justify-content-start"><i class="fas fa-pencil-ruler icon-header"></i> Interactive Designer</h3>
            <p class="font-weight-light">Customize the number of groups and the body height.</p>
            <!-- <input [(ngModel)]="buttonLabel" placeholder="{{buttonLabel}}" type="text"> -->
            <div class="d-flex justify-content-start align-items-end">
              <section class="w-100 mx-3 my-1 py-3">
                <app-card></app-card>
              </section>
            </div>
        </div>
        <div class="mt-5 guidance-container">
          <h3 class="mb-0">Guidance and Usage</h3>
          <section class="pt-2 pb-2">
            <h5 class="font-weight-light">About cards</h5>
            <p>A <b>card</b> is often a subset or summary of a larger idea. It acts as an entry point to more detailed information.
              This summary can contain a variety of content types, such as text, images and multimedia, or buttons and links.</p>
          </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">When to use an accordion</h5>
              <p><b>Collections of related content.</b> When you need to present a collection of related groups of content, like articles or sections of a website.</p>
            </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">When to consider something else</h5>
              <p><strong>Tabular data.</strong> Don't use a card as a substitute for a table row.</p>
              <p><strong>Simple calls to action.</strong> Use a button instead.</p>Sequential, continuous text.
              <p><strong>Sequential, continuous text.</strong> Cards should be self-contained and modular. If the reader is meant to read from card to card,
                consider a list or simple body text and headings.</p>
            </section>
            <section class="pt-2 pb-2">
              <h5 class="font-weight-light">Usability guidance</h5>
              <p><strong>Don't use the card component only for decoration. </strong> Use the card component for cards, not for any type of content that's designed to have a border around it.</p>
              <p><strong>Give interactive elements enough space. </strong> Make sure interactive elements within the collapsible region are far enough from the headers that users don’t accidentally
                trigger a collapse. (The exact distance depends on the device.)</p>
            </section>
            <!-- <section class="pt-2 pb-2">
              <h5 class="font-weight-light">Accessibility</h5>
              <p><strong>Code header areas in the accordion as buttons. </strong>Using a <code>&lt;button&gt;</code> assures that accordions are usable with both screen readers and the keyboard. </p>
              <p><strong>Use aria-expanded on buttons to express an accordion’s default state.</strong>Buttons should state if they are expanded by default with <code>aria-expanded="true"</code>. The <code>aria-expanded="false"</code> attributes will be added to other buttons when the accordion is initialized by the JavaScript.</p>
              <p><strong>Use unique ids.</strong>Each button has a unique name <code>aria-controls="id"</code> that associates the control to the appropriate region by referencing the controlled element’s <code>id</code>.</p>
            </section> -->
        </div>
      </div>
    </div>
  </div>
</div>
