@import '../../../styles.scss';

.sitemap{
    font-size: 1rem;
    padding: 0px 10px 0px 0px;
    color: #007bff;
}

.trash-btn{
  @include trash-can-button();
}

.clear-label{
  @include clear-label();
}

::placeholder {
  color: $font-color !important;
  opacity: 1; /* Firefox */
}

.give-me-sum-space{
  margin: 0px 42px;
}

.give-a-form-sum-space{
  background: white;
  border-radius: 8px;
  border: 1px solid #eeeeee;
  min-height: 250px;
  padding: 0;
}
