@import '../styles.scss';
// SCROLL BAR STYLING
.scroll1::-webkit-scrollbar {
  width: 7px;
}

.scroll1::-webkit-scrollbar-track {
  background: #ddd;
}

.scroll1::-webkit-scrollbar-thumb {
  background: $primary-color;
}
