<div class="contents p-4">
  <h4 class="pb-1">Sections</h4>
  <div *ngFor="let section of sections">
    <a
      pageScroll
      href="#{{section.id}}"
      [pageScrollEasing]="myEasing"
      [pageScrollOffset]="65"
      (pageScrollFinish)="doSmth($event)"
      >{{ section.name }}</a
    >
    <ng-container *ngIf="currentSection===section.id">O</ng-container>
  </div>
</div>
<div class="content-container scroll1">
  <div class="tab-content-outer-container">
    <div class="tab-content-inner-container">
      <div class="page-reveal-animation">
        <h1>Form Controls</h1>
        <h4>Form controls allow users to enter information into a page.</h4>

        <!-- INJECTS COMPONENTS FROM SECTIONS ARRAY -->
        <div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" >
          <ng-template appInject></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
