@import '../../../../scss/index';

.section-container{
  padding: 10px;
  border: 1px solid darken($border-color-darker, 2%);
  border-radius: 10px;
  background: $tab-content-bg-color;
}

p{
  // border-bottom: 1px solid darken($border-color-darker, 2%);
  margin-bottom: 0px !important;
  padding-bottom: 12px;
  font-weight: 500;
}

.mat-dialog-content {
  padding: 10px 24px !important;
  background: darken($content-bg-color, 2%) !important;
  border-top: 1px solid $border-color-darker !important;
  border-bottom: 1px solid $border-color-darker !important;
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
// .card-container::after {
//   content: "";
//   flex: auto;
// }
.add-container{
  margin-top: -25px;
  i{
    font-size: 1.1rem;
  }
  .warning{
    color: #dc0000 !important;
  }
}
