@import '../../../styles.scss';

button{
  @include primary-button();
  padding: 0px 60px !important;
  width: auto;
  display: flex;
  justify-content: center;;
}
.mat-tab-label-content {
    font-size: 1.3rem;
    font-weight: 500;
    color: #3a3a3a;
    opacity: 1;
}

span{
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 8px;
}

.sub-header{
  padding: 0px;
  color: $font-color-light;
  font-size: 1.1rem;
}

img{
  @include largish-image-center();
}

.button-container{
  // position: absolute;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 50px;
  padding: 0px 20px;
  // border-top: 1px solid #ececec;
  // background: $primary-bg-color;
}

.form-content{
  overflow: auto !important;
  max-height: 45vh !important;
}
