<div class='login-page'>
    <div class="login-container">
      <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/EPAS+Logo+Acronym+Only+White.png" width="auto" height="50" class="d-inline-block align-top" alt="">
      <div class="login-content-outer">
        <div class="login-content-inner">
          <h3 class='login-header'>Sign Up <i class="fas fa-user-plus"></i></h3>
          <p>Enter your email address and desired password to sign up.</p>
          <div class="formGroup">
              <i class="far fa-envelope"></i>
            <input
              type="text"
              class="formControl"
              placeholder="Email"
              #userName
              required
            />
          </div>
  
          <div class="formGroup">
              <i class="fas fa-key"></i>
            <input
              type="password"
              class="formControl"
              placeholder="Password"
              #userPassword
              required
            />
          </div>
  
          <!-- Calling SignUp Api from AuthService -->
          <div class="formGroup">
            <input
              type="button"
              class="btn btnPrimary login-button"
              value="Sign Up"
              (click)="authService.SignUp(userName.value, userPassword.value)"/>
          </div>
        
        <div class="redirectToLogin">
            <span>Already have an account? <span class="redirect" routerLink="/login">Log In</span></span>
        </div>
        </div>
        <ul class="bg-bubbles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>