@import "../../../scss/variables";
@import "../../../styles.scss";

.example-container {
  width: 100%;
  height: 65vh;
  margin: 10px;
  border: 1px solid $border-color-darker;
  .left-panel {
    width: 25% !important;
    max-width: 250px;
    min-width: 200px;
    .header {
      height: 75px;
      background: $primary-color;
      color: lighten($font-color-invert, 10%);
      .thumbnail-container {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        overflow: hidden;
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    .action-container {
      height: 30px;
      border-bottom: 1px solid $border-color-darker;
      display: flex;
      button {
        transform: scale(0.7);
      }
    }
    .meta-data-container {
      height: auto;
      border-bottom: 1px solid $border-color-darker;
      .label-data{
        flex-wrap: nowrap;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      small{
        font-weight: 500 !important;
      }
    }
    .tabs {
      height: auto;
      .nav {
        .nav-link {
          border-radius: 0px !important;
          background-color: transparent;
          color: $font-color !important;
          border-bottom: 1px solid $border-color-darker;
        }
        .active {
          background-color: transparent !important;
          border-right: 3px solid $active-color !important;
          font-weight: 500;
        }
      }
    }
  }
  .right-panel {
    width: 17% !important;
  }
  .mat-drawer-side.mat-drawer-end {
    border-left: none !important;
    border-right: none;
    background: #eeeeee;
  }
}
.mat-drawer-container {
  background: #eeeeee !important;
}
.tab-content {
  .active {
    background: $tab-content-bg-color !important;
    margin: 15px 30px !important;
    padding: 10px !important;
    border-radius: 8px !important;
  }
}

.form-placeholder{
    background: $tab-content-bg-color;
    margin: 15px 30px;
    padding: 10px;
    border-radius: 8px;
    height: 40%;
    h3{
      font-weight: 100;
      opacity: .68;
    }
}
