<div class="home-page-outer-container">
  <div class="home-page-top-container">
    <div class='brand-container'>
      <div class="image-container">
        <img src="https://general-assets-landon.s3.amazonaws.com/work-assets/EPAS+Logo+Acronym+Only+Full+Color.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </div>
      <label>Design System</label>
    </div>
    <span *ngFor="let icon of iconBiggerArray; let index = index;">
      <i class='{{icon.icon}}' [ngClass]="{'even-column': index%2 === 0}" ></i>
    </span>
  </div>
  <div class='home-page-bottom-container'>
TEST
  </div>
</div>

