
<div class="content-container scroll1">
  <div class="tab-content-outer-container">
    <div class="tab-content-inner-container">
      <div class="page-reveal-animation">
        <h1> Side Navigation </h1>
        <h4>Hierarchical, vertical navigation placed at the side of a page.</h4>
        <div class="w-100 d-flex justify-content-start align-items-center">
          <button class="secondary-button btn btn-sm" (click)="openDialog()"><i class="fas fa-expand pr-2"></i> Full screen</button>
        </div>
        <app-side-nav-example></app-side-nav-example>
      </div>
    </div>
  </div>
</div>
