@import "../../../scss/variables";
@import "../../../styles.scss";

.row {
  display: flex;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
  height: 100%;
  padding-top: 55px;
  margin: 0px;
  background: $content-bg-color;
  position: relative;
}

a{
  font-size: 1rem;
  i{
    margin: 0px 5px;
  }
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  button{
    z-index: 9;
  }
}

::ng-deep .mat-drawer.mat-drawer-side {
  width: 275px;
}

.fixed-drawer{
  position: fixed !important;
  top: 55px;
}


.nav-dimensions{
  width: 240px;
  width: 100%;
  height: 100%;
  overflow: auto;
  .nav-header{
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-size: 1.85rem;
    font-weight: 100;
    color: $font-color;
    // position: fixed;
    // top: 55px;
    // width: 290px;
  }
  // NON-ACTIVE TAB
  .nav-pills .nav-link {
    border-radius: 0;
    color: $font-color;
    padding: 10px 30px;
    transition: .2s;
    &:hover{
      background: $active-bg-color;
    }
  }

  // ACTIVE TAB
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $primary-color;
    background-color: $active-bg-color;
    padding: 10px 30px;
    border-left: 4px solid $active-color;
    // /* border-right: 2px solid royalblue; */
    // border-bottom: 1px solid #efefef;
  }
}



.column-container{
  border-right: 1px solid $border-color;
  flex: none;
  // position: fixed;
  // top: 55px;
  // max-width: 290px;
  // height: 100vh;
  position: sticky;
  top: 55px;
  width: 290px;
  height: auto;
  padding: 0px 0px 0px 0px;
  background: $tab-content-bg-color;

  .nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: fixed;
    top: 130px;
    width: 289px;
  }
}

