<section class="section-components" id="{{ id }}">
  <div class="section-header-container">
    <h3 class="p-0 m-0">Radio Buttons</h3>
  </div>
  <div class="type-container">
    <h3 class="mb-0 d-flex align-items-center justify-content-start">
      <i class="fas fa-pencil-ruler icon-header"></i> Interactive Designer
    </h3>
    <p class="font-weight-light">
      Customize the number of rows and columns. Edit field data if needed.
    </p>
    <!-- <input [(ngModel)]="buttonLabel" placeholder="{{buttonLabel}}" type="text"> -->
    <div class="d-flex justify-content-start align-items-center">
      <mat-form-field class="example-chip-list w-50">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip
            *ngFor="let option of options"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(option)"
          >
            {{ option.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="New radio button item..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
      <mat-radio-group class="mx-3" aria-label="Select an option" [(ngModel)]="class">
        <mat-radio-button value="example-radio-group-vertical">Vertical</mat-radio-button>
        <mat-radio-button value="example-radio-group-horizontal">Horizontal</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="{{class}}">
      <mat-radio-button class="example-radio-button m-2" *ngFor="let option of options" [value]="option">
        {{ option.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="mt-5 guidance-container">
    <h3 class="mb-0">Guidance and Usage</h3>
    <section class="pt-2 pb-2">
      <h5 class="font-weight-light">When to use the radio button component</h5>
      <p>
        <b>Single selection. </b> When users need to select only one option out
        of a set of mutually exclusive choices.
      </p>
      <p>
        <b>Limited choices. </b> When the number of available options can fit
        onto a mobile screen.
      </p>
    </section>
    <section class="pt-2 pb-2">
      <h5 class="font-weight-light">When to consider something else</h5>
      <p>
        <strong>Multiple selections. </strong> Consider checkboxes if users need
        to select more than one option or if there is only one item to select.
      </p>
      <p>
        <b>Limited space. </b> Consider a dropdown if you don’t have enough
        space to list out all available options.
      </p>
      <p>
        <b>Selecting none. </b> If users should be able to select zero of the
        options.
      </p>
    </section>
    <section class="pt-2 pb-2">
      <h5 class="font-weight-light">Usability guidance</h5>
      <p>
        <strong>Use the label as a target. </strong> Users should be able to tap
        on or click on either the text “label” or the radio button to select or
        deselect an option.
      </p>
      <p>
        <strong>List items vertically. </strong> Options that are listed
        vertically are easier to read than those that are listed horizontally.
        Horizontal listings can make it difficult to tell which label pertains
        to which radio button.
      </p>
      <p>
        <strong>Use adequate spacing. </strong> If you customize, make sure
        selections are adequately spaced for touch screens.
      </p>
      <p>
        <strong>Set default values with caution. </strong> Setting a default
        value can discourage users from making conscious decisions, seem pushy,
        or alienate users who don’t fit into your assumptions. If you are
        unsure, leave nothing selected by default.
      </p>
    </section>
    <section class="pt-2 pb-2">
      <h5 class="font-weight-light">Accessibility</h5>
      <p>
        <strong>Use fieldset and legend. </strong> Group related radio buttons
        together with <code>&lt;fieldset&gt;</code> and describe the group with
        <code>&lt;legend&gt;</code>.
      </p>
      <p>
        <strong>Use proper labels and attributes. </strong> Each radio button
        should have a <code>&lt;label&gt;</code>. Associate the two by matching
        the <code>&lt;label&gt;</code> <code>for</code> attribute to
        <code>&lt;input&gt;</code> <code>id</code> attribute.
      </p>
      <p>
        The <code>&lt;title&gt;</code> can replace <code>&lt;label&gt;</code>.
      </p>
    </section>
  </div>
</section>
