<div class="page-reveal-animation">
  <h3> Overview </h3>
  <div class="section-container container">
    <h5>Our Design Principles</h5>
    <div class="sub-section-container container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl risus,
        condimentum in tellus vel, posuere consequat ligula. Phasellus facilisis dolor ac
        laoreet condimentum. Mauris quam odio, condimentum vitae nisl eget, eleifend pretium dolor.</p>
    </div>
  </div>
  <div class="section-container container">
    <h5>1) Follow the user's mental model</h5>
    <div class="sub-section-container container">
      <p>Most of users are operating the interface just based on their instinct.
        In short, when they encounter a button, they will think this button will be
        triggered to meet their needs. But if this button get triggered in some other
        operation ratner than user's expectation, it must be a bad design.</p>
    </div>
  </div>
  <div class="section-container container">
    <h5>2) Meet the user's needs</h5>
    <div class="sub-section-container container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisl risus,
        condimentum in tellus vel, posuere consequat ligula. Phasellus facilisis dolor ac
        laoreet condimentum. Mauris quam odio, condimentum vitae nisl eget, eleifend pretium dolor.
        In elementum, augue et pellentesque elementum, nisl neque ullamcorper nisi, id interdum eros velit ac sem.
        Mauris at nisl luctus, sagittis urna at, ultricies urna. Proin imperdiet odio in mauris convallis vulputate ut
        nec tortor. Fusce sollicitudin risus metus, sit amet lobortis arcu molestie condimentum. Mauris pharetra nulla a
        nunc egestas interdum. Nulla pulvinar vestibulum urna, sed tincidunt risus consequat et.</p>
    </div>
  </div>
</div>
