
<div class="content-container scroll1">
  <div class="tab-content-outer-container">
    <div class="tab-content-inner-container">
      <div class="page-reveal-animation">
        <h1> Table </h1>
        <h4>A table shows tabular data in columns and rows.</h4>
        <div class="type-container">
          <h3 class="mb-0">Example</h3>
            <p class="font-weight-light">Customize the number of rows and columns. Edit field data if needed.</p>
            <!-- <input [(ngModel)]="buttonLabel" placeholder="{{buttonLabel}}" type="text"> -->
            <div class="d-flex justify-content-start align-items-end">
              <app-table-example></app-table-example>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
