@import '../../../scss/index';

.section-container{
  padding: 10px;
  border: 1px solid $border-color-darker;
  border-radius: 10px;
  background: $content-bg-color;
}

p{
  border-bottom: 1px solid lighten($border-color-darker, 2%);
  margin-bottom: 0px !important;
  padding-bottom: 5px;
}
