<h1 mat-dialog-title>Card Editor</h1>
<div mat-dialog-content>
  <p>Card Info:</p>
  <div class="section-container">
    <mat-form-field>
      <mat-label cdkFocusInitial>Card Title...</mat-label>
      <input matInput [(ngModel)]="data.title">
    </mat-form-field>
    <mat-form-field class="d-block w-50">
      <mat-label>Card Icon...</mat-label>
      <input matInput class="mr-2" [(ngModel)]="data.icon">
       <mat-icon matSuffix><i class="{{data.icon}}"></i></mat-icon>
    </mat-form-field>
  </div>
  <section *ngIf="data.options">
    <div *ngFor="let option of data.options">
      <p>Option {{data.options.length}}: <strong>{{option.optionTitle}}</strong></p>
      <div class="section-container">
        <mat-form-field class="d-block w-50">
          <mat-label>Option Title...</mat-label>
          <input matInput class="mr-2" [(ngModel)]="option.optionTitle">
        </mat-form-field>
        <mat-form-field class="d-block w-75">
          <mat-label>Option Subtitle...</mat-label>
          <input matInput class="mr-2" [(ngModel)]="option.optionSubtitle">
        </mat-form-field>
        <mat-form-field class="d-block w-50">
          <mat-label>Option Icon...</mat-label>
          <input matInput class="mr-2" [(ngModel)]="option.icon">
          <mat-icon matSuffix><i class="{{option.icon}}"></i></mat-icon>
        </mat-form-field>
      </div>

    </div>
  </section>
</div>
<div mat-dialog-actions class="d-flex justify-content-between align-items-center">
  <button class="secondary-button btn btn-sm" (click)="onNoClick()">Cancel</button>
  <button class="primary-button btn btn-sm" [mat-dialog-close]="data">Finish</button>
</div>


