$foundation-color: #005581;
$design-color: #0085ca;
$component-color: #de632d;
$asset-color: #ffb140;

// FOUNDATION TOPIC CLASSES
.foundation-icon{
  color: $foundation-color;
}
.foundation-circle-background{
  background: lighten($foundation-color, 8%);
}
.foundation-background{
  background: $foundation-color;
}

// DESIGN TOPIC CLASSES
.design-icon{
  color: $design-color;
}
.design-circle-background{
  background: lighten($design-color, 8%);
}
.design-background{
  background: $design-color;
}

// COMPONENTS TOPIC CLASSES
.component-icon{
  color: $component-color;
}
.component-circle-background{
  background: lighten($component-color, 8%);
}
.component-background{
  background: $component-color;
}

// ASSETS TOPIC CLASSES
.asset-icon{
  color: $asset-color;
}
.asset-circle-background{
  background: lighten($asset-color, 8%);
}
.asset-background{
  background: $asset-color;
}


// TWEAKS TO MATERIAL CSS
.mat-tab-body-content {
  height: 100%;
  overflow: auto;
  overflow: hidden !important;
}

.mat-tab-label-content {
  font-size: 1.1rem !important;
  font-weight: 500;
  color: #3a3a3a;
  opacity: 1;
}

.mat-tab-label {
  height: 40px !important;
  padding: 0 5px !important;
  padding-left: 0px !important;
  margin-right: 20px !important;
  justify-content: left !important;
  min-width: auto !important;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #005581 !important;
}

.mat-horizontal-content-container {
  overflow: hidden !important;
  padding: 10px 24px 24px 24px !important;
  height: 490px !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  border-top: 1px solid #e6e6e6 !important;
}

.mat-horizontal-stepper-header-container {
  height: 55px !important;
}

.mat-horizontal-stepper-header {
  height: 55px !important;
}

// .mat-vertical-stepper-content {
//   overflow-y: auto !important;
//   max-height: 45vh;
// }
// .modal-backdrop {
//   // z-index: -1 !important;
//   opacity: .1;
// }

.modal-backdrop.show {
  opacity: .05 !important;
}

.modal-content {
  position: absolute;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, 15%) !important;
  width: 1200px !important;
  max-width: none !important;
  height: 60vh !important;
  border-radius: 15px !important;
  border: 1px solid #d1d1d1 !important;
  box-shadow: 0px 3px 19px 16px #c0c0c059 !important;
  overflow: hidden;
  background-color: #f9f9f9 !important;
  .header{
    font-size: 1.5rem !important;
    padding: 1rem !important;
    font-weight: 500 !important;
    border-bottom: 1px solid #ececec !important;
    background-color: $primary-bg-color;
  }
}

// TWEAKS OF BOOTSTRAP CLASSES

.badge {
    font-size: 55% !important;
    margin: 0px 10px !important;
}
