// SCSS VARIABLES FOR SITE

// COLORS
$primary-color: #005581;
$secondary-color: #0085ca;
$active-color: royalblue;
$font-color: #393939;
$font-color-light: #5a5a5a;

// BACKGROUND COLORS
$active-bg-color: #f8f9fa;
$primary-bg-color: #f8f9fa;
$footer-bg-color: #f3f3f3;
$content-bg-color: #f7f7f7;
$tab-content-bg-color: white;
$carousel-bg-color: #e8e8e8;
$carousel-button-bg-color: #dadada;
$translusent-button-bg-color: #29292930;

// SHADOWS
$default-shadow: #d6d6d6;
$default-card-shadow: gainsboro;
$light-shadow: #e7e7e7;

// BORDERS
$border-color: #eaeaea;
$border-color-darker: gainsboro;
